body{
    background-color: rgba(190, 190, 190, 0.541);
}

#spinner{
    display: none;
}
#alert, #alert-1{
    display: none;
}

/* body{
    background-image: url(image/angry-bird-minimal-8k-6s.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
} */

