body{
    background-color: rgba(209, 209, 209, 0.575);
}

#spinner, #page{
    display: none;
}
#empty, #error{
    display: none;
}
.text{
    margin: 30px;
    border-radius: 10px;
    padding-right: 20px;
}
#loading img{
    margin-top: 35vh;
}

/* body{
    background-image: url(image/angry-bird-minimal-8k-6s.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
} */

